<md-button ng-click="openRegister($event)">Teste</md-button>

<h3>Mais vistos</h3>

<md-list class="list-itens">
    <md-subheader class="md-no-sticky">{{produtos.length}} produtos</md-subheader>
    <md-list-item ng-repeat="produto in produtos" ng-click="link('produtos/show', {id_produto: produto.id_produto})" class="md-whiteframe-2dp">
        <img ng-src="https://material.angularjs.org/latest/img/100-0.jpeg" class="md-avatar" width="100">
        <div class="md-list-item-text">
            <h3>{{ produto.descricao }}</h3>
            <p><b>R$</b> {{ produto.valor }}</p>
        </div>
    </md-list-item>
</md-list>

<h3>Destaques</h3>

<md-list class="list-itens">
    <md-subheader class="md-no-sticky">{{produtos.length}} produtos</md-subheader>
    <md-list-item ng-repeat="produto in produtos" ng-click="link('produtos/show', {id_produto: produto.id_produto})" class="md-whiteframe-2dp">
        <img ng-src="https://material.angularjs.org/latest/img/100-0.jpeg" class="md-avatar" width="100">
        <div class="md-list-item-text">
            <h3>{{ produto.descricao }}</h3>
            <p><b>R$</b> {{ produto.valor }}</p>
        </div>
    </md-list-item>
</md-list>

<h3>Novidades</h3>

<md-list class="list-itens">
    <md-subheader class="md-no-sticky">{{produtos.length}} produtos</md-subheader>
    <md-list-item ng-repeat="produto in produtos" ng-click="link('produtos/show', {id_produto: produto.id_produto})" class="md-whiteframe-2dp">
        <img ng-src="https://material.angularjs.org/latest/img/100-0.jpeg" class="md-avatar" width="100">
        <div class="md-list-item-text">
            <h3>{{ produto.descricao }}</h3>
            <p><b>R$</b> {{ produto.valor }}</p>
        </div>
    </md-list-item>
</md-list>