<!DOCTYPE html>
<html lang="pt-br" ng-app="MarketView">
<head> 
    <meta charset="UTF-8">
    <title>MarketView</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>

    <script src="app/libs/jquery-1.11.3.js"></script>
    <script src="app/libs/angular.min.js"></script>
    <script src="app/libs/angular-ui-router.min.js"></script>
    <script src="app/libs/angular-animate.min.js"></script>
    <script src="app/libs/angular-aria.min.js"></script>
    <script src="app/libs/angular-material.min.js"></script>
    <script src="app/app.js"></script>

    <!-- STYLES -->
    <link rel="stylesheet" href="assets/css/angular-material.min.css" />
    <link rel="stylesheet" href="assets/css/app.css" />

    <!-- CONFIGS -->
    <script src="app/config/AppRouteConfig.js"></script>
    <script src="app/config/AppThemingProvider.js"></script>

    <!-- CONTROLLERS -->
    <script src="app/controllers/MainCtrl.js"></script>
    <script src="app/controllers/HomeCtrl.js"></script>
    <script src="app/controllers/LojasCtrl.js"></script>
    <script src="app/controllers/ProdutosCtrl.js"></script>
    <script src="app/controllers/ConfiguracoesCtrl.js"></script>
    <script src="app/controllers/RegisterCtrl.js"></script>
</head>
<!-- APPLICATION -->
<body ng-controller="MainCtrl" md-swipe-right="toggleMenu()">

<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Menu" ng-click="toggleMenu()" ng-hide="isOpenMenu()">
            <md-icon md-svg-icon="assets/img/icons/menu.svg"></md-icon>
        </md-button>
        <h2>
            <span>{{title}}</span>
        </h2>
        <span flex></span>

        <md-menu md-position-mode="target-right target">
            <md-button class="md-icon-button" aria-label="Mais" ng-click="$mdOpenMenu($event)">
                <md-icon md-svg-icon="assets/img/icons/more_vert.svg"></md-icon>
            </md-button>

            <md-menu-content width="4">
                <md-menu-item ng-repeat="item in subMenu">
                    <md-button ng-click="item.link">
                        <div layout="row">
                            <p flex>{{item.titulo}}</p>
                        </div>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</md-toolbar>

<md-sidenav class="md-sidenav-menu md-whiteframe-z2" md-component-id="menu">
    <md-toolbar class="md-theme-indigo">
        <h2>Olá, {{ user }}</h2>
    </md-toolbar>
    <md-content layout-padding ng-controller="MainCtrl">
        <md-list id="mainmenu">
            <md-list-item ng-repeat="menu in menus" class="md-3-line">
                <md-button ui-sref="{{menu.link}}" ng-click="closeMenu()" class="md-primary md-list-item-text">
                    {{menu.name}}
                </md-button>
            </md-list-item>
        </md-list>
    </md-content>
</md-sidenav>

<md-content ui-view="main">
    <!-- APPLICATION CONTENT -->
</md-content>

</body>
</html>