<h3>{{product.descricao}}</h3>
<img src="" alt="" width="120" height="120">
<p><b>Preço: </b>R$ {{product.valor}}</p>

<md-list class="list-itens">
    <md-subheader class="md-no-sticky">Onde posso encontrar?</md-subheader>
    <md-list-item md-ink-ripple ng-repeat="loja in lojas" class="md-whiteframe-2dp" ng-click="">
        <div class="md-list-item-text">
            <h3>{{loja.nome}}</h3>
            <p>Loja {{$index+1}}</p>
        </div>
    </md-list-item>
</md-list>

<md-list class="list-itens">
    <md-subheader class="md-no-sticky">Relacionados</md-subheader>
    <md-list-item ng-repeat="produto in produtos" ng-click="link('produtos/show', {id_produto: produto.id_produto})" class="md-whiteframe-2dp">
        <img ng-src="https://material.angularjs.org/latest/img/100-0.jpeg" class="md-avatar" width="100">
        <div class="md-list-item-text">
            <h3>{{ produto.descricao }}</h3>
            <p><b>R$</b> {{ produto.valor }}</p>
        </div>
    </md-list-item>
</md-list>