<md-input-container class="md-block">
    <label>Qual a loja?</label>
    <input ng-model="lojas.nome">
</md-input-container>

<md-list class="list-itens">
    <md-list-item md-ink-ripple ng-repeat="loja in lojas" class="md-whiteframe-2dp" ng-click="">
        <div class="md-list-item-text">
            <h3>{{loja.nome}}</h3>
            <p>Loja {{$index+1}}</p>
        </div>
    </md-list-item>
</md-list>