<md-list>
    <md-subheader class="md-no-sticky">Configuração geral</md-subheader>
    <md-list-item ng-repeat="config in configs">
        <p>{{ config.text }}</p>
        <md-switch class="md-secondary" ng-model="config.checked"></md-switch>
    </md-list-item>
</md-list>