<md-dialog>
    <form>
        <h3>Login</h3>

        <md-input-container>
            <label>Quem é você?</label>
            <input ng-model="usuario.nome">
        </md-input-container>

        <md-input-container>
            <label>Senha</label>
            <input ng-model="usuario.senha" type="password">
        </md-input-container>

        <md-input-container>
            <md-button class="md-raised md-primary" ng-click="register()">Salvar</md-button>
        </md-input-container>
    </form>
</md-dialog>