<md-dialog>
    <form>
        <h3>Faça já o seu cadastro</h3>

        <md-input-container>
            <label>Qual é seu nome?</label>
            <input ng-model="usuario.nome">
        </md-input-container>

        <md-input-container>
            <label>Digite sua senha</label>
            <input ng-model="usuario.senha" type="password">
        </md-input-container>

        <md-input-container>
            <label>Digite sua senha</label>
            <input ng-model="usuario.senha" type="password">
        </md-input-container>

        <md-input-container>
            <label>Digite sua senha</label>
            <input ng-model="usuario.email">
        </md-input-container>

        <md-input-container>
            <label>CPF</label>
            <input ng-model="usuario.cpf">
        </md-input-container>

        <md-input-container>
            <md-button class="md-raised md-primary" ng-click="register()">Salvar</md-button>
        </md-input-container>
    </form>
</md-dialog>